/*Humayun's tomb*/
#humayun{
    background-color: rgb(188, 240, 149);
    height: 250px;
    width: 750px;
    font-style: italic;
}
#hum{
    color:rgb(83, 165, 28);
}
#button{
    background-color: aliceblue;
    padding: 5px 3px;
    cursor:pointer;
    text-align: center;
    font-size: 12px;
    color:none;
}
#button:hover {
    background-color: #edeaeb;
    color: rgb(234, 7, 7);
  }
  #humimg{
    margin-top: -21%;
    margin-left: 64%;
    margin-right: 50%;
  }

  /*Qutubminar*/
#qutubminar{
    background-color: rgb(238, 149, 240);
    height: 250px;
    width: 750px;
    font-style: italic;
}
#qutub{
    color:rgb(114, 28, 109);
}
#button{
    background-color: aliceblue;
    padding: 5px 3px;
    cursor:pointer;
    text-align: center;
    font-size: 12px;
    color:none;
}
#button:hover {
    background-color: #edeaeb;
    color: rgb(234, 7, 7);
  }
  #qutubimg{
    margin-top: -21%;
    margin-left: 64%;
    margin-right: 50%;
  }

    /*RedFort*/
#redfort{
    background-color: rgb(240, 149, 149);
    height: 250px;
    width: 750px;
    font-style: italic;
}
#red{
    color:rgb(155, 70, 34);
}
#button{
    background-color: aliceblue;
    padding: 5px 3px;
    cursor:pointer;
    text-align: center;
    font-size: 12px;
    color:none;
}
#button:hover {
    background-color: #edeaeb;
    color: rgb(234, 7, 7);
  }
  #redimg{
    margin-top: -21%;
    margin-left: 64%;
    margin-right: 50%;
  }
  