/*almgir*/
#alamgir{
    background-color: rgb(188, 240, 149);
    height: 250px;
    width: 750px;
    font-style: italic;
}
#alam{
    color:rgb(83, 165, 28);
}
#button{
    background-color: aliceblue;
    padding: 5px 3px;
    cursor:pointer;
    text-align: center;
    font-size: 12px;
    color:none;
}
#button:hover {
    background-color: #edeaeb;
    color: rgb(234, 7, 230);
  }
  #almimg{
    margin-top: -21%;
    margin-left: 64%;
    margin-right: 50%;
  }

  /*assi ghat*/
  #assighat{
    background-color: rgb(239, 232, 156);
    height: 250px;
    width: 750px;
    font-style: italic;
}
#assi{
    color:rgb(151, 165, 28);
}
#button{
    background-color: aliceblue;
    padding: 5px 3px;
    cursor:pointer;
    text-align: center;
    font-size: 12px;
    color:none;
}
#button:hover {
    background-color: #edeaeb;
    color: rgb(227, 7, 234);
  }
  #assiimg{
    margin-top: -21%;
    margin-left: 64%;
    margin-right: 50%;
  }

/*Bharat mata temple*/
#bharatmata{
    background-color: rgb(156, 160, 239);
    height: 250px;
    width: 750px;
    font-style: italic;
}
#bharat{
    color:rgb(34, 5, 150);
}
#button{
    background-color: aliceblue;
    padding: 5px 3px;
    cursor:pointer;
    text-align: center;
    font-size: 12px;
    color:none;
}
#button:hover {
    background-color: #edeaeb;
    color: rgb(227, 7, 234);
  }
  #varatimg{
    margin-top: -21%;
    margin-left: 64%;
    margin-right: 50%;
  }
/*Dhaameswar*/
#dashashwamedh{
    background-color: rgb(239, 156, 236);
    height: 250px;
    width: 750px;
    font-style: italic;
}
#dash{
    color:rgb(119, 5, 150);
}
#button{
    background-color: aliceblue;
    padding: 5px 3px;
    cursor:pointer;
    text-align: center;
    font-size: 12px;
    color:none;
}
#button:hover {
    background-color: #edeaeb;
    color: rgb(227, 7, 234);
  }
  #dashwaimg{
    margin-top: -21%;
    margin-left: 64%;
    margin-right: 50%;
  }

  /*Durga temple*/
#durgamandir{
    background-color: rgb(239, 171, 156);
    height: 250px;
    width: 750px;
    font-style: italic;
}
#durga{
    color:rgb(229, 48, 7);
}
#button{
    background-color: aliceblue;
    padding: 5px 3px;
    cursor:pointer;
    text-align: center;
    font-size: 12px;
    color:none;
}
#button:hover {
    background-color: #edeaeb;
    color: rgb(227, 7, 234);
  }
  #durgaimg{
    margin-top: -21%;
    margin-left: 64%;
    margin-right: 50%;
  }

  
  