/*mata mansa*/
#mansadevi{
    background-color: rgb(185, 184, 181);
    height: 250px;
    width: 750px;
    font-style: italic;
}
#mansa{
    color:rgb(47, 47, 46);
}
#button{
    background-color: aliceblue;
    padding: 5px 3px;
    cursor:pointer;
    text-align: center;
    font-size: 12px;
    color:none;
}
#button:hover {
    background-color: #edeaeb;
    color: rgb(234, 7, 230);
  }
  #mansaimg{
    margin-top: -21%;
    margin-left: 64%;
    margin-right: 50%;
  }

  /*Har Ki Pauri Ganga Temple */
#harkipouri{
    background-color: rgb(240, 194, 149);
    height: 250px;
    width: 750px;
    font-style: italic;
}
#har{
    color:rgb(225, 135, 17);
}
#button{
    background-color: aliceblue;
    padding: 5px 3px;
    cursor:pointer;
    text-align: center;
    font-size: 12px;
    color:none;
}
#button:hover {
    background-color: #edeaeb;
    color: rgb(234, 7, 230);
  }
  #harimg{
    margin-top: -21%;
    margin-left: 64%;
    margin-right: 50%;
  }

    /*Gauri sankar Temple */
#gaurishankar{
    background-color: rgb(165, 226, 235);
    height: 250px;
    width: 750px;
    font-style: italic;
}
#gauri{
    color:rgb(9, 109, 114);
}
#button{
    background-color: aliceblue;
    padding: 5px 3px;
    cursor:pointer;
    text-align: center;
    font-size: 12px;
    color:none;
}
#button:hover {
    background-color: #edeaeb;
    color: rgb(234, 7, 230);
  }
  #gauriimg{
    margin-top: -21%;
    margin-left: 64%;
    margin-right: 50%;
  }

      /*Maha mritunjay*/
#mahamrityun{
    background-color: rgb(165, 235, 216);
    height: 250px;
    width: 750px;
    font-style: italic;
}
#maha{
    color:rgb(9, 114, 79);
}
#button{
    background-color: aliceblue;
    padding: 5px 3px;
    cursor:pointer;
    text-align: center;
    font-size: 12px;
    color:none;
}
#button:hover {
    background-color: #edeaeb;
    color: rgb(234, 7, 230);
  }
  #mahaimg{
    margin-top: -21%;
    margin-left: 64%;
    margin-right: 50%;
  }